<div class="panel panel-primary" *ngIf="product">
    <div class="panel-heading">
        {{pageTitle + " : " + product?.name}}
    </div>
    <div class="panel-body">
        <span><strong>ID</strong> {{product.id}}</span>
        <br>
        <span><strong>CODE:</strong> {{product.code}}</span>
        <br>
        <span><strong>NAME:</strong> {{product.name}}</span>
        <br>
        <span><strong>DESCRIPTION:</strong> {{product.description}}</span>
        <br>
        <span><strong>PRICE:</strong> {{product.price | currency:'USD'}}</span>
        <br>
        <span><strong>STARS:</strong> <app-stars [rating]="product.star_rating"></app-stars></span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" (click)="goBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>

    </div>
</div>