.footer{
    width: 100%;
    height: 100px;
    background:white;
    margin-top: 100px;    
    bottom: 0;
    clear:both;    
    position: absolute;
    background-color: #101010;
    color: white;
}